Repository uavaustin/orchestra, pull requests merged in 2018-11, with the labels that each got.

#32 Parameterize upload variable
  services/forward-interop/Dockerfile
  services/forward-interop/bin/start-service.js
  services/forward-interop/src/service.js
  services/forward-interop/test/service.test.js
Labels: service/forward-interop

#34 Telemetry queue folding
  services/telemetry/src/plane.js
  services/telemetry/test/service.test.js
Labels: service/telemetry

#36 ICMP ping implementation
  services/common/messages/stats.proto
  services/pong/Dockerfile
  services/pong/Dockerfile.test
  services/pong/Makefile
  services/pong/README.md
  services/pong/bin/start-service.js
  services/pong/package.json
  services/pong/src/ping-store.js
  services/pong/src/service.js
  services/pong/test/service.test.js
  test/docker-compose.yml
Labels: service/pong

#35 Imagery Restructure
  .travis.yml
  Makefile
  services/imagery/.babelrc
  services/imagery/.eslintrc.yml
  services/imagery/.gitignore
  services/imagery/Dockerfile
  services/imagery/Dockerfile.test
  services/imagery/Makefile
  services/imagery/README.md
  services/imagery/bin/start-service.js
  services/imagery/jest.config.js
  services/imagery/package.json
  services/imagery/src/app.js
  services/imagery/src/backends/file-backend.js
  services/imagery/src/backends/gphoto2-backend.js
  services/imagery/src/backends/sync-backend.js
  services/imagery/src/image-store.js
  services/imagery/src/main.js
  services/imagery/src/router.js
  services/imagery/src/service.js
  services/imagery/src/util.js
  services/imagery/test/backends/file-backend.test.js
  services/imagery/test/backends/gphoto2-backend.test.js
  services/imagery/test/backends/sync-backend.test.js
  services/imagery/test/fixtures/shape-0.jpg
  services/imagery/test/fixtures/shape-1.jpg
  services/imagery/test/fixtures/shape-2.jpg
  services/imagery/test/fixtures/shape-3.png
  services/imagery/test/image-store.test.js
  services/imagery/test/router.test.js
  services/imagery/test/service.test.js
Labels: service/imagery
