Repository uavaustin/orchestra, pull requests merged in 2019-06, with the labels that each got.

#59 Fix concurrency in imagery store
  services/imagery/src/image-store.js
  services/imagery/test/image-store.test.js
Labels: service/imagery

#58 Add ability to set maximum number of submittable auto targets
  services/image-rec-master/Dockerfile
  services/image-rec-master/README.md
  services/image-rec-master/service/__init__.py
  services/image-rec-master/service/__main__.py
  services/image-rec-master/service/app.py
  services/image-rec-master/test/test_app.py
  services/image-rec-master/test/test_service.py
Labels: service/image-rec-master

#61 Allow accept header to be set to protobuf in Interop Proxy
  services/interop-proxy/Dockerfile
  services/interop-proxy/config/config.exs
  services/interop-proxy/lib/interop_proxy_web/router.ex
Labels: service/interop-proxy
