Repository uavaustin/orchestra, pull requests merged in 2019-03, with the labels that each got.

#44 Log unknown messages in telemetry
  services/telemetry/src/mavlink-socket.js
  services/telemetry/src/plane.js
  services/telemetry/test/plane.test.js
Labels: service/telemetry

#43 Image Rec Master Service
  .travis.yml
  Makefile
  ci/after-script.sh
  services/common/messages/image_rec.proto
  services/common/python/logger.py
  services/common/python/requirements.txt
  services/image-rec-master/.gitignore
  services/image-rec-master/Dockerfile
  services/image-rec-master/Dockerfile.test
  services/image-rec-master/Makefile
  services/image-rec-master/README.md
  services/image-rec-master/requirements-test.txt
  services/image-rec-master/requirements.txt
  services/image-rec-master/service/__init__.py
  services/image-rec-master/service/__main__.py
  services/image-rec-master/service/app.py
  services/image-rec-master/service/backup.py
  services/image-rec-master/service/tasks.py
  services/image-rec-master/service/util.py
  services/image-rec-master/setup.cfg
  services/image-rec-master/test/conftest.py
  services/image-rec-master/test/test_app.py
  services/image-rec-master/test/test_service.py
  services/image-rec-master/test/test_tasks.py
  test/docker-compose.yml
Labels: service/image-rec-master

#33 Limit how many images are stored in the imagery service
  services/imagery/Dockerfile
  services/imagery/README.md
  services/imagery/bin/start-service.js
  services/imagery/package.json
  services/imagery/src/backends/sync-backend.js
  services/imagery/src/image-store.js
  services/imagery/src/router.js
  services/imagery/src/service.js
  services/imagery/test/backends/sync-backend.test.js
  services/imagery/test/image-store.test.js
  services/imagery/test/router.test.js
Labels: service/imagery
